{
    "url_ecidade": "",
    "usuario_ecidade": "",
    "senha_ecidade": "",
    "db_host": "",
    "db_port": 0,
    "db_base": "",
    "db_user": "",
    "db_password": "",
    "api_entrega_continua": {
        "url": "",
        "client_id": "",
        "client_secret": ""
    }
}
